rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // MENU and CATEGORIES: Anyone can read, only admin can write.
    match /categories/{categoryId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    match /menu-items/{itemId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // ORDERS: Anyone can get a single invoice, only admin can list/write/delete.
    match /orders/{orderId} {
      allow get: if true;
      allow list, create, update, delete: if request.auth != null;
    }
  }
}
